/* Coded by Jeremy */

/***********/
/*Variables*/
/***********/

:root {
    --green: #00853E;
}

body {
    margin: 0; /*Sets boundaries properly*/
}
/*********************************/
/*Beginning of styling for header*/
/*********************************/

.page-header {
    background-color: var(--green);
    height: 80px;
    padding: 30px;
    overflow: hidden;
    position: relative;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .page-logo {                
    color: white;
}

/* page-header: buttons */
.page-header .buttons {  
    float: right;   /* puts the dashboard button to the right */
}

/* Styling for Dashboard button */
.btn1 {     
    margin-right: 25px;
}

/* Styling for Logout button */
.btn2 {     
    margin-left: 25px;
}

/* Styling for both Dashboard and Logout button */
 .btn1, .btn2 {     
    text-align: center;
    padding: 20px;
    width: 150px;
    color: white;
    background-color: var(--green);
    border: 5px solid white;
    border-radius: 25%;
    font-size: 20px;
}

/* Styling for both Dashboard and Logout buttons when hovering*/
.btn1:hover, .btn2:hover {      
    background-color: white;
    color: var(--green);
}

/*End of styling for header*/


/*********************************/
/*Beginning of styling for navbar*/
/*********************************/

/*Style for the entire navbar and container*/
.navbar-content-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

/* Basic styles for the navbar */
.navbar {
    background-color: var(--green);
    color: white;
    padding: 20px;
    flex: 20;
    height: 100vh;
    text-align: center;
}

/*Navbar anchor tag (hyperlink) styling*/
.navbar a { 
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Styles for the content sections */
.page-content {
    flex: 80;
    padding: 30px;
    background-color: white;
    height: 100vh; 
}

/* Styling of h1 */
h1 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #00853E;
}

/*End of styling for navbar*/



/****************************************************/
/*Beginning of styling for module-specific functions*/
/****************************************************/


.search-surveys {
    display: block;
} 

.modify-surveys { 
    display: none; /* Hidden by default */
}

.create-surveys {
    display: none; /* Hidden by default */
}

.delete-surveys {
    display: none; /* Hidden by default */
}

.search-opportunities {
    display: block;
} 

.modify-opportunities  { 
    display: none; /* Hidden by default */
}

.create-opportunities  {
    display: none; /* Hidden by default */
}

.delete-opportunities  {
    display: none; /* Hidden by default */
}

.search-supportGroups {
    display: block;
} 

.modify-supportGroups { 
    display: none; /* Hidden by default */
}

.create-supportGroups {
    display: none; /* Hidden by default */
}

.delete-supportGroups {
    display: none; /* Hidden by default */
}