/* Coded by Jeremy */

/*************/
/*************/
/**Variables**/
/*************/
/*************/

:root {
    --green: #00853E; /*primary styling color*/
}

body {
    margin: 0; /*Sets boundaries properly*/
}




/*****************************/
/*Start of styling for header*/
/*****************************/
.page-header { /*Styling by Geary start*/
    background-color: var(--green);
    height: 80px;
    padding: 30px;
    overflow: hidden;
    position: relative;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .page-logo {                
    color: white;
}

/* page-header: buttons */
.page-header .buttons {  
    float: right;   /* puts the dashboard button to the right */
}

/* Styling for Dashboard button */
.btn1 {     
    margin-right: 25px;
}

/* Styling for Logout button */
.btn2 {     
    margin-left: 25px;
}

/* Styling for both Dashboard and Logout button */
 .btn1, .btn2 {     
    text-align: center;
    padding: 20px;
    width: 150px;
    color: white;
    background-color: var(--green);
    border: 5px solid white;
    border-radius: 25%;
    font-size: 20px;
}

/* Styling for both Dashboard and Logout buttons when hovering*/
.btn1:hover, .btn2:hover {
    background-color: white;
    color: var(--green);
} /*Styling by Geary end*/
/***************************/
/*End of styling for header*/
/***************************/



/*****************************/
/*Start of styling for navbar*/
/*****************************/
/*Style for the entire navbar and container*/
.navbar-content-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

/* Basic styles for the navbar */
.navbar {
    background-color: var(--green);
    color: white;
    padding: 20px;
    flex: 20;
    height: 100vh;
    text-align: center;
}

/*Navbar anchor tag (hyperlink) styling*/
.navbar a { 
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Styles for the content sections */
.page-content {
    flex: 80;
    padding: 30px;
    background-color: white;
    height: 100vh; 
}

/* Styling of h1 */
h1 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: var(--green);
}
/***************************/
/*End of styling for navbar*/
/***************************/

/**************************************************/
/**************************************************/
/**Start of styling for module-specific functions**/
/**************************************************/
/**************************************************/

/************************/
/* survey section start */
/************************/
/*searchSurveys styling start*/
.search-surveys-box { /*Styling for all content in the searchSurvey module*/
    display: block; /* Inital page display*/
    margin: auto;
} 

/* Search boxes within the content styling */
.search-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.survey-search-name-box, .survey-search-tag-box {
    padding: 10px;
}

/* Styling of the individual search boxes */
.survey-search-name-box input, .survey-search-tag-box input {
    border: solid 1px black;
    font-size: 15px;
    border-radius: 20%;
    padding: 10px;
}


/* Styling of the survey list class */
.survey-list {
    display: flex;
    padding: 20px;  /* test */
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    /*display: block;*/ /* Inital page display*/
    text-align: center;
}

/* Styling of the search-survey-list class within the search surveys */
.search-survey-list {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-flow: column wrap; 
    align-items: center;
    text-align: center;
}

/* styling of the individual queried searched survey results */
.survey-item {
    width: 50%;
    padding: 15px;
    border: solid 1px black;
    cursor: pointer;
}

/* styling of the individual queried searched results when hovered over */
.survey-item:hover {
    background-color: var(--green);
    color: white;
}
/*searchSurveys styling end*/



/*modifySurveys styling start*/
.modify-surveys { 
    display: block; /* Inital page display*/
}

.created-surveys-list{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
/*modifySurveys styling end*/
/*createSurveys styling start*/
.create-surveys {
    display: none; /* Hidden by default */
    text-align: center;

}
/*createSurveys styling end*/
/*editSurveys styling start*/
.edit-surveys {
    display: block; /* Hidden by default */
    text-align: center;

}
/*editSurveys styling end*/

/**********************/
/* Survey section end */
/**********************/



/*****************************/
/* opportunity section start */
/*****************************/
/*searchOpportunities styling start*/
/* Implemented opportunity search boxes styling */
.search-opportunities-box {
    display: block; /* Inital page display*/
    margin: auto;
    text-align: center;
} 

.opportunity-search-name-box, .opportunity-search-tag-box {
    padding: 10px;
}

.opportunity-search-name-box input, .opportunity-search-tag-box input {
    border: solid 1px black;
    font-size: 15px;
    border-radius: 20%;
    padding: 10px;
}

/*searchOpportunities styling end*/

/*modifyOpportunities styling start*/
.modify-opportunities  { 
    display: none; /* Hidden by default */
    text-align: center;
}
/*modifyOpportunities styling end*/

/*createOpportunities styling start*/
.create-opportunities  {
    display: none; /* Hidden by default */
    text-align: center;
}
/*createOpportunities styling end*/

/*deleteOpportunities styling start*/
.delete-opportunities  {
    display: none; /* Hidden by default */
    text-align: center;
}
/* deleteOpportunities styling end */
/***************************/
/* Opportunity section end */
/***************************/

/***************************/
/* Styling on account page */
/***************************/
.account-page-box {
    padding: 25px;
    margin: auto;
    display: block; 
}

.account-page-box h1 {
    /*display: none;*/
    text-align: center;  
}

/* Styling for profile information on account page start */
.profile-header {
    display: flex;
    justify-content: center;
}

.header-links  {
    margin: auto;
    text-align: center;
    display: block;
    font-size: 12px;
    color: var(--green);
}

.header-links a {
    margin: 10px;
    text-decoration: none;
    color: var(--green);
}

#img-form {
    display: none;
}

.header-links label {
    cursor: pointer;
}

.profile-pic {
    width: 12em;
    border: solid 1px black;
    border-radius: 75%;
}

.profile-information {
    display: flex;
    flex-direction: column;
    padding: 20px;
   /* background-color: black; */
}

.profile-information input {
    width: 100%;
    padding: 10px;
}

 .button-list {
    display: flex;
    justify-content: flex-end;
}

.save-btn {
    display: none; 
    margin: 5px;
    padding: 10px;
}

.cancel-btn {
    display: none; 
    margin: 5px;
    padding: 10px;
}

/* FAQ link */
.faq-section {
    display: none;  
    text-align: center;
    margin: auto;
}

.faq-list {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.faq-item {
    width: 50%;
    font-size: 15px;
    padding: 20px;
    border: solid 1px black;
}

.faq-item:hover {
    background-color: var(--green);
    color: white;
    cursor: pointer;
}
/* FAQ link end */

/* Compensation Link styling */
.compensation-section {
    display: none;
}

.compensation-listing {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}


.compensation-item {
    width: 50%;
    font-size: 15px;
    padding: 20px;
    border: none;
}
/* Compensation Link styling end */

/**************************************/
/* Ending for styling on account page */
/**************************************/



/******************************/
/* supportGroup section start */
/******************************/
/*searchSupportGroups styling start*/
.search-supportGroups-box {
    display: block; /* Inital page display*/
    text-align: center;
    margin: auto;
} 

.support-search-name-box, .support-search-tag-box {
    padding: 10px;
}

.support-search-name-box input, .support-search-tag-box input {
    border: solid 1px black;
    font-size: 15px;
    border-radius: 20%;
    padding: 10px;
}
/*searchSupportGroups styling end*/

/*modifySupportGroups styling start*/
.modify-supportGroups { 
    display: none; /* Hidden by default */
    text-align: center;
}
/*modifySupportGroups styling end*/

/*createSupportGroups styling start*/
.create-supportGroups {
    display: none; /* Hidden by default */
    text-align: center;
}
/*createSupportGroups styling end*/

/*deleteSupportGroups styling start*/
.delete-supportGroups {
    display: none; /* Hidden by default */
    text-align: center;
}
/* deleteSupportGroups styling end */
/****************************/
/* supportGroup section end */
/****************************/



/***********************/
/* Study section start */
/***********************/
/*searchStudies styling start*/
.search-studies-box {
    display: block; /* Inital page display*/
    text-align: center;
    margin: auto;
} 

.study-search-name-box, .study-search-tag-box {
    padding: 10px;
}

.study-search-name-box input, .study-search-tag-box input {
    border: solid 1px black;
    font-size: 15px;
    border-radius: 20%;
    padding: 10px;
}


/*searchStudies styling end*/

/*modifyStudies styling start*/
.modify-studies { 
    display: none; /* Hidden by default */
    text-align: center;
}
/*modifyStudies styling end*/

/*createStudies styling start*/
.create-studies {
    display: none; /* Hidden by default */
    text-align: center;
}
/*createStudies styling end*/

/*deleteStudies styling start*/
.delete-studies {
    display: none; /* Hidden by default */
    text-align: center;
}
/*deleteStudies styling end*/
/*********************/
/* Study section end */
/*********************/