
.top-header {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #00853E;
    color: white;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px 20px;
}

.my-studies {
    flex: 20;
    background-color:#00853E;
    color: white;
    padding: 30px;
    height: 80vh;
}

.little-section {
    margin: 0;
    padding: 35px;
    height: 50px;
    width: 75%;
    background-color:#00853E;
    color: white;
    font-size: 30px;
}

.little-section:hover {
    background-color: white;
    color: #00853E;
}

.study-series {
    flex: 80;
    height: 80vh;
}

.study1, .study2, .study3, .study4, .study5 {
    margin: auto;
    padding: 30px;
    align-self: center;
    text-decoration: none;
    width: 50%;
    color:#00853E;
    border: solid 1px black;
    text-align: center;
    font-size: 30px;
}

.links:link {
    color: #00853E;
    text-decoration: none;
}

.links:visited {
    color: #00853E;
}