/* Coded by Geary */
/* Login Page styling: login.php */


body {  /* Body of the page */
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;
    height: 100vh;
    overflow: hidden;
}

.form-container2 {          /* Form container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
   /* height: 70vh; */
    border-radius: 10px;
    background-color: white;
}

.form-container2 .login-bar {   /* Part of the login that says log in */
    text-align: center; 
    padding: 0 0 20px 0;
    background-color: #00853E;
    padding: 10px;
    color: white;
}

.form-container2 .login-bar h3 {    /* Words in the login */
    font-size: 30px;
}

.form-container2 form { /* Styling of form in the form container */
    padding: 0 40px;
    box-sizing: border-box;
}

.form-container2 form input {       /* Inputs */
    padding: 10px;
    width: 100%;
    font-size: 15px;
}

.selection .forgot-password {   /* Forgot Password */
    float: left;
}

.selection .forgot-password a { /* Styling of Forgot Password Link */
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.selection .forgot-password a:hover { /* When you hover over forgot password link */
    color: #00853E;
}

.selection .button-list {       /* Forgot password link and 2 buttons */
   /* display: inline-block; */
    float: right;
}

.button-list .btn1 {    /* Styling of the Cancel button */
    background-color: #00853E;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.button-list .btn2 {  /* Styling of the Log In button */
    background-color: #00853E;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}