/* Coded by Geary */
.top-header {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #00853E;
    color: white;
    font-size: 30px;
    overflow: hidden;
}

.logout-btn {
    float: right;
    cursor: pointer;
    display: inline;
    color: white;
    background-color: #00853E;
    padding: 20px;
    width: 150px;
    font-size: 20px;
    border-radius: 25%;
    border: solid 5px white;
    margin-left: 25px;
}   

.logout-btn:hover {
    background-color: white;
    color:#00853E;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
}


.my-studies {
    flex: 20;
    background-color:#00853E;
    color: white;
    padding: 30px;
    height: 80vh;
}

.little-section {
    margin: 0;
    padding: 35px;
    height: 50px;
    width: 75%;
    background-color:#00853E;
    color: white;
    font-size: 30px;
}

.little-section:hover {
    background-color: white;
    color: #00853E;
}

.second-section {
    padding: 35px;
    height: 50px;
    width: 75%;
    background-color:#00853E;
    color: white;
    font-size: 30px; 
}


.second-section a {
    text-decoration: none;
    color: white;
} 

.second-section a:hover {
    color:#00853E;
} 

.second-section:hover {
    background-color: white;
    color: #00853E;
}

.study-series {
    flex: 80;
    height: 80vh;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .search-bar, .tag-bar {
    padding: 10px;
}

label {
    font-size: 20px;
}

input {
    border: solid 1px black;
    font-size: 15px;
    border-radius: 20%;
    padding: 10px;
}

.study1, .study2, .study3, .study4, .study5 {
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border: solid 1px black;
    width: 50%;
    color: #00853E;
}

.load-more {
    display: block;
    cursor: pointer;
    margin: auto;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border: solid 1px black;
    width: 50%;
    color: #00853E;
}

.study1:hover, .study2:hover, .study3:hover, .study4:hover, .study5:hover {
    background-color: #00853E;
    color: white;
}

.load-more:hover {
    background-color: #00853E;
    color: white;
}

