/* Coded by Geary */
/* Styling of the dashboard page: Dashboard.php */

body {
    margin: 0;
}

h1 {  /* Styling of h1 */
    font-size: 50px;
    padding: 10px;
    text-align: center;
    color: #00853E;
}

.content {          /* Styling of the content part of the page */
    color: #00853E;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.flex1, .flex2, .flex3, .flex4, .flex5 {    /* Styling for each of the button tabs */
    color: #00853E;
    flex-basis: 30%;
    text-align: center;
    text-decoration: none;
    align-self: center;
    padding: 25px;
    font-size: 25px;
    border: 5px solid #00853E;
    border-radius: 20%;
}

.flex1:link, .flex2:link, .flex3:link, .flex4:link, .flex5:link {   /* Styling of the link inside the tabs */
    text-decoration: none;
}

/* Styling for the tabs to be hovered over */
.flex1:hover, .flex2:hover, .flex3:hover, .flex4:hover, .flex5:hover {
    background-color:#00853E;
    color: white;
}

 


